{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'deadacount.css' %}">
{% endblock link %}

{% block content %}
  <div class="parent">
    <div class="child1">
      <h2>息してない</h2>
      {% for deadacount in deadacount_list %}
      <div id="twitter_info_box">
        <img src="{{deadacount.profile_image_url_https}}" id="twitter_img">
        <div class="user_info">
          <p id="username">{{deadacount.name}}</p>
          <a href="{{deadacount.profile_url}}" target="_blank" rel="noopener noreferrer">@{{deadacount.screen_name}}</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="child2">
      <h2>息してる</h2>
      {% for aliveacount in aliveacount_list %}
      <div id="twitter_info_box">
        <img src="{{aliveacount.profile_image_url_https}}" id="twitter_img">
        <div class="user_info">
        <p id="username">{{aliveacount.name}}</p>
        <a href="{{aliveacount.profile_url}}" target="_blank" rel="noopener noreferrer">@{{aliveacount.screen_name}}</a>
        </div>
      </div>
      {% endfor %}
    </div>      
    </div>

{% endblock content %}