{% extends 'base.html' %}
{% load static %}

{%block title%}
Home View
{% endblock title%}
{% block link %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock link %}

{% block content %}
<form id="contact" action="/deadacount/" method="POST">
  {% csrf_token %}
  <div class="container">

    <div class="head">
      <h2></h2>
    </div>

    <p class="get_your_follower">@以降のあなたのTwitterIDを入力してください。</p>
    <input type="text" name="username" placeholder="twitter_id" /><br />

    <button id="submit" type="submit">
      チェック
    </button>

  </div>
</form>

<!--
<form id="contact" action="/friends/" method="POST">
  {% csrf_token %}
  <div class="container">

    <div class="head">
      <h2></h2>
    </div>

    <p class="get_your_follower">@以降のあなたのTwitterIDを入力してください。</p>
    <input type="text" name="username" placeholder="twitter_id" /><br />

    <button id="submit" type="submit">
      チェック
    </button>

  </div>


</form>
-->
{% endblock content %}